
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <form class="box" action="./" method="post">
        <h1>Login</h1>
        <input type="text" name="" placeholder="Username">
        <input type="password" name="" placeholder="Password">
        <input type="submit" name="" value="Login">
    </form>
</body>
</html>
